*{
    font-family: Helvetica;
    margin:0;
}
/*head*/
#homecover { 
    align-content: center;
    height: 250px;
}
.cover{
margin:0;
padding:0;
align-content:center;
height:250px;
}
.cover img{
    width:100%;
    height: 250px;
    margin:0;
    padding:0;
}
.cover h1{
    position: absolute;
    top:50px;
    padding:0;
    font-size: 90px;
    color:#f1ecf6;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
#header{
    display: flex;
    text-decoration: none;
    background:#f5edfc;
    margin: auto;
    height: 55px;
    width: 100%;
}
#header img{
    height:35px;
    padding: 7px 10px;
    margin: 6px 14px;
    max-width: 300px;
}
.logo img{
    float: right;
}
.topnav{
    display: inherit;
    list-style-type: none;
    width:100%;
    margin-top: 17px;
    text-decoration: none;
}
.topnav ul{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin-left: 500px;
}
.topnav li{
    margin:5px;    
}
.topnav a{
    text-decoration: none;
    color: #561a88;
    text-transform:uppercase;
    font-weight: 545;
    padding: 5px;
}
.topnav a:hover{
    color:#bab0c3;
}
/* search & boroughs nav */
#borough{
    display: flex;
    margin: auto;
    box-sizing: border-box;
    background: #fff;
    border:  solid 1px #561a88;
    
}
.search{
    padding: 10px 5px;
    display: inline-block;
    width: 50%;
    margin: auto;
    margin-left: 10px;
    background: #fff;
    border: none; 
    border-radius:8px;
    box-sizing: border-box;
    float: left;
  }
.search input[text]{
    box-sizing: border-box;
    width: 60px;
    padding: 0;
    margin: 0;
    border-radius: 8px;
}
.search input[submit]{
    width:20px;
}

.boro{
    float: right;
    display: inline;   
}
.boro ul{
    list-style: none;
    display:inline-flex;
    margin: 6px 0;
    box-sizing: border-box;
    background:#fff;
    padding-left: 0;
}
.boro li{
    padding: 8px;
    box-sizing:border-box;
    text-decoration: none;
    border: #561a88 solid 1px;
    background: #561a88;
    margin: 5px 20px ;
    border-radius: 10px;
    width: 75%;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
.boro a{
    color:#f1ecf6;
    text-transform: uppercase;
}
.boro a:hover{
    color: #bab0c3;
}
/* side nav */
#leftnav {
  height: 100%;
  width: 200px;
  /*position: fixed;*/
  z-index: 1;
/* top: 130px;*/
  background-color: #f5edfc;
  overflow-x: hidden;
  padding-top: 10px;
   float:left;

}

#leftnav a {
  text-decoration: none;
  color: #561a88;;
  display: block;
    margin:5px;
    margin-top:0;
    padding: 2px;
}

#leftnav a:hover {
  color: #bab0c3;
}
.profile img{
    width:100px;
    border-radius: 50px;
    margin:0 50px;
}
.profile{
    display: block;
}
.profile ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 1px;
}
.profile li{
    margin:10px;
    margin-bottom: 0;
}
.profile a{
    text-decoration: none;
    color:#561a88;
    font-weight:500;
}
/* EVENT calandar*/

#calandar{
    width:200px;
    top:20px;
}
.month {
  padding: 5px 5px 5px;
  width: inherit;
  background: #bab0c3;
  text-align: center;
    margin-top:10px;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #561a88;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
    line-height: 1;
    font-weight: 500;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 5px 5px;
  background-color: #ddd;
    text-align: center;
    font-weight: 400;
}

.weekdays li {
  display: inline-block;
  width: 11.6%;
  color: #561a88;
  text-align: center;
}

.days {
  padding: 5px 0;
    padding-bottom: 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 3px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 4px;
  background: #561a88;
  color: white !important;
}
.terms{
    text-align: center;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
    padding-top:0;
}
.terms a{
    font-size:12px; 
    
}
.terms hr{  
    border: solid 1px #561a88;
    width: 75%;
    margin:auto;
    padding: 0;
}
.terms p{
    color:#561a88;
    font-size: 20px;
    margin: 0;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
/* right nav */
#rightnav {
  height: 100%;
  width: 200px;
  /*position: fixed;*/
  z-index: 1;
  background-color: #f5edfc;
  overflow-x:hidden;
    float:right;
    margin-left: 10px;
    
    
   /* margin-left: 1065px;*/
}
#rightnav h2{
    box-sizing: border-box;
    text-align: center;
    color: #561a88;
    background:#bab0c3;
    margin:0;
    padding: 10px;
    font-size: 20px;
}
#rightnav a {
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  font-size: 20px 30px;
  color: #561a88;
  display: block;
    text-align:center;
    padding-bottom: 5px;
    margin: auto;
}
#rightnav a:hover {
  color: #bab0c3;
}
.location{
    font-weight: 600;
}
hr{
    border: solid 1px #561a88;
    width: 75%;
    margin: auto;
    padding: 0;
}
/* main content */
#main{
    margin: 0;
    width:800px;
    display: flex;
    align-content: center;
    padding:0;
}
#main img{  
    height: 250px;
    width: 400px;
    clear: both;
    margin: 5px;
}
#main a{
    text-align:center;
    position: absolute;
    box-sizing: border-box;
    width: 420px;
}
.row{ 
    width:400px;
    align-content: center;
    padding: 10px;
}
.row a{
    font-size: 60px;
    text-decoration: none;
    font-family: Helvetica;
    text-transform: uppercase;
    color:#f1ecf6;
    font-weight:800;
    box-sizing:border-box;
    width:420px;
    padding-top:100px;
}
.coll{
    width: 400px;
    align-content: center;
    padding: 10px;
}
.coll a{
    font-size: 60px;
    text-decoration: none;
    font-family: Helvetica;
    text-transform: uppercase;
    color: #f1ecf6;
    font-weight: 800;
    box-sizing: border-box;
    width: 420px;
    padding-top:100px;
}
/* footer */
#footer{
    display: flex;
    background: #bab0c3;
    color:#561a88;
    width:100%;
}
.footer{ 
    width: 100%;
    text-align: center;
    padding:10px 0;
}
.footer a{
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 5px;
}
.footer a:hover{
    color: #f1ecf6;
}
                    /* Housing Page */
#housing{
    display: flex;
    margin: auto;
    box-sizing: border-box;
    background: #fff;
    border:  solid 1px #561a88;   
}
.saved{
    float: right;
    display: inline;   
}
.saved ul{
    list-style: none;
    display:inline-flex;
    margin: 6px 0;
    box-sizing: border-box;
    background:#fff;
    padding-left: 0;
}
.saved li{
    padding-top: 8px;
    box-sizing:border-box;
    text-decoration: none;
    border: #561a88 solid 1px;
    background: #561a88;
    margin: 5px 20px ;
    border-radius: 10px;
    height: 35px;
    width: 148px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
.saved a{
    color:#f1ecf6;
    text-transform: uppercase;
    width: 100px;
    text-decoration: none;

}
.saved a:hover{
    color: #bab0c3;
}
a.padding{
    padding-top: 200px;
    color: #f1ecf6;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 18px;
}

.row2{
    width: 420px;
    align-content:center;
}
.row2 a{
    color: #f1ecf6;
    text-decoration: none;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 150px;
    line-height: 50px;
}
.coll2{
    width:420px;
    align-content: center;
}
.coll2 a{
    margin-top: 150px;
    color: #f1ecf6;
    text-decoration: none;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 51px;
}
#f50{
    font-size:55px;
    line-height: 45px;
    letter-spacing: 1px;
}
/* Right Nave & form */
#rightnav form{
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  font-size: 20px 30px;
  color: #561a88;
  display: block;
    text-align:left;
    padding-bottom: 5px;
    margin-left: 10px;
}
#available{
    box-sizing: border-box;
    color: #561a88;
    font-size: 12px;
    text-align: left;
    width:70%;
    text-transform: uppercase;
    font-weight: 400;
}
.submit{
    color:#561a88;
    margin-left:0px;
    float: right;
}
.submit2{
    color:#561a88;
    margin-left: 75px;
    margin-right: 72px;
}
#min{
    height: 20px;
    width: 50px;
    margin: 0;
    padding:0;
}
#max{
    height: 20px;
    width: 40px;
    display: flex;
    padding: 0;
    margin: 0;
}
h4{
    font-size: 15px;
    font-weight: 500;
    display: flex;
   
}
/*left nav profile */
.profile2 img{
    width:85px;
    border-radius: 50px;
    margin-left:5px;
    margin-right: 5px;
    float: left;
}
.profile2{
    display: block;
}
.profile2 ul{
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
}
.profile2 li{
   line-height: 15px;
    margin-right: 2px;
    
}
.profile2 a{
    text-decoration: none;
    color:#561a88;
    font-weight:500;
    font-size: 13px;
    margin-right: 20px;
}
/* Apartments page */
.row3{
     width:420px;
    align-content: center;
    
}
.row3 a{
    color: #f1ecf6;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 41px;
    margin-top: 130px;
}
.coll3{
     width:420px;
    align-content: center;
}
.coll3 a{
    color: #f1ecf6;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 41px;
    margin-top: 130px;
}

br.square{
    margin-top:100px;
}

/*Detail page */
.top{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #561a88;
}
.maps{
    float:right;
    margin: 25px;
    margin-right: 40px;
    margin-top: 150px;
}
.w3content{
    margin-left: 40px;
    margin-top: 20px;
}
.w3center{
    width: 800px;
    text-align: center;
}
.w3button{
    color: #561a88;
    background-color:#f5edfc;
    width: 60px;
    font-size: 15px;
}
.w3button2{
    color: #561a88;
    background-color:#f5edfc;
    width: 20px;
    margin-top: 5px;
}
.about{
    margin: 40px;
    text-align: left;
    color: #561a88;
    box-sizing: border-box;
}
p{
    font-size: 20px;
    line-height: 25px;
    width: 660px;
    font-weight: 600;
}
.list{
    font-weight: 500;
    letter-spacing:1px;
    margin: 10px;
    width:650px;
        
}
.list ul{
    padding: 8px;
}
.button3{
    float: right;
    width: 450px;
}
.button3 a{
    box-sizing: border-box;
    margin: 5px;
    margin-top: 20px;
    text-decoration: none;
    border: #561a88 solid 1px;
    background: #f5edfc;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    color:#561a88;
    font-weight: 600;
}
